<div class="level1_to_3">
  <div class="background">
    <div class="stone">
      <div class="spells">
        <div class="rip-sentence">
          <p class="spell" id="r">R</p>
          <p>.</p>
          <p class="spell" id="i">I</p>
          <p>.</p>
          <p class="spell" id="p">P</p>
          <p>.</p>
        </div>
        <div class="mn-sentence">
          <p class="spell" id="m">M</p>
          <p>·</p>
          <p class="spell" id="n">N</p>
          <p>·</p>
          <p class="spell" id="t">T</p>
          <p class="spell" id="o">O</p>
          <p class="spell" id="w">W</p>
          <p class="spell" id="nn">N</p>
        </div>
        <div class="hint_message">
          <p>PUSH IT AND MAKE OPEN</p>
        </div>
        <!-- <div class="test">
          <p>thisistest</p>
        </div> -->


      </div>
      <div class="numbers">
        <div id="numA" class="num">
          <img class="number" id="numA" src="/num_2.png" alt="2"　width="130px" height="130px">
        </div>
        <div class="num">
          <img class="number" class="numB" src="/num_0.png" alt="0" width="130px" height="130px">
        </div>
        <div class="num">
          <img class="number" class="numC" src="/num_3.png" alt="3" width="130px" height="130px">
        </div>
        <div class="num">
          <img class="number" class="numD" src="/num_9.png" alt="9" width="130px" height="130px">
        </div>
      </div>

      <div class="arrows">
        <img id='change' src="/change_arrow.png" alt="" width="70px" height="70px">
        <img id='reverse' src="/reverse_arrow.png" alt="" width="70px" height="70px">
        <img id='rotate' src="/rotate_arrow.png" alt="" width="70px" height="70px">
      </div>


      <div class="clear-whiteout">

      </div>

    </div>

  </div>

</div>
