.level1_to_3
  .background
    .stone
      .spells
        .rip-sentence
          p#r.spell
            | R
          p
            | .
          p#i.spell
            | I
          p
            | .
          p#p.spell
            | P
          p
            | .
        .mn-sentence
          p#m.spell
            | M
          p
            | ·
          p#n.spell
            | N
          p
            | ·
          p#t.spell
            | T
          p#o.spell
            | O
          p#w.spell
            | W
          p#nn.spell
            | N
        .hint_message
          p
            | PUSH IT AND MAKE OPEN
      .numbers
        #numA.num
          |  <img class="number" id="numA" src="/num_2.png" alt="2"　width="130px" height="130px"> 
        .num
          img.numB[src="/num_0.png" alt="0" width="130px" height="130px"]
        .num
          img.numC[src="/num_3.png" alt="3" width="130px" height="130px"]
        .num
          img.numD[src="/num_9.png" alt="9" width="130px" height="130px"]
      .arrows
        img#change[src="/change_arrow.png" alt="" width="70px" height="70px"]
        img#reverse[src="/reverse_arrow.png" alt="" width="70px" height="70px"]
        img#rotate[src="/rotate_arrow.png" alt="" width="70px" height="70px"]
      .clear-whiteout
