<div class="main">

  <div class="main">
    <div class="main-title">
      <h1>Mid Night Town 01</h1>
    </div>

    <div class="signup-btn btn">
      <p>enter this town</p>
    </div>
    <div class="show-btn btn">
      <p>about this town</p>
    </div>
  </div>
  <div class="about">
    <div class="about-town">

    </div>
    <div class="about-me">

    </div>

  </div>


</div>
