.room
  .roombase
    .room-user
      h2
        = @current_user.name
      p
        | 解いた謎　
        = @current_user.level - 1
        | /1
    .room-hint
      h2
        | ヒントブック
      ul
        li
          | まだありません
        li
          | まだありません
        li
          | まだありません
