<div class="room">
  <div class="roombase">
    <div class="room-user">
      <h2><%= @current_user.name %></h2>
      <p>解いた謎　<%= @current_user.level - 1%>/1</p>
    </div>
    <div class="room-hint">
      <h2>ヒントブック</h2>
      <ul>
        <li>まだありません</li>
        <li>まだありません</li>
        <li>まだありません</li>
      </ul>
    </div>

  </div>

</div>
